@using DataAccess
@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<p class="text-danger well">
    @if (HttpContext.Current.IsDebuggingEnabled)
    {
        <ul class="">
            <li>
                <h5 class="text-danger">Error found in:   @Model.ControllerName\@Model.ActionName</h5>
                <dl>
                    <dt>Message</dt>
                    <dd>@Model.Exception.Message</dd>
                    <dt>StackTrace</dt>
                    <dd>@Model.Exception.StackTrace</dd>
                    <dt>Inner Execptions</dt>
                    <dd>
                        @if (@Model.Exception.InnerException != null)
                        {
                            @Model.Exception.InnerException.Message
                        }
                        else
                        {
                            <text>No more information added to the exception</text>
                        }
                    </dd>
                </dl>
            </li>
        </ul>
    }
    else
    {
        <text>Unxepected error ocurred. Please Try Again.</text>
    }
</p>
